<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span> Demo
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="questions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Questions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vote">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vote
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="echo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Echo
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
